
movimientos.png
movtlb.csv
mapamov.Rmd
Casossem4.html
Anteriores/071120.html
Casosdiarios-Momolap.csv
Casosdiarios-Momolap.csv
Municipios2.html
Municipios2.Rmd
Resumenestatal.html
Resumenestatal.Rmd
Anteriores/Municipios1607.Rmd
Anteriores/Municipios1607.html
Casosdiarios-Momolap.csv
Casosdiarios-Momolap.csv
Casosdiarios-Momolap.csv
Municipios-3.html
Municipios.Rmd
Municipios-2_files/figure-html/unnamed-chunk-38-1.png
Municipios-2_files/figure-html/unnamed-chunk-38-1.mb.png
Municipios-2_files/figure-html/unnamed-chunk-32-1.png
Municipios-2_files/figure-html/unnamed-chunk-32-1.mb.png
Municipios-2_files/figure-html/unnamed-chunk-26-1.png
Municipios-2_files/figure-html/unnamed-chunk-26-1.mb.png
Municipios-2.Rmd
Municipios-2.html
Municipios 3.Rmd
Municipios 2.Rmd
Casosdiarios-Momolap.csv
Anteriores/Municipios2007.Rmd
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
Anteriores/Municipios2007.html
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/girafe-binding-0.7.8/girafe.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/htmlwidgets-1.5.1/htmlwidgets.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/ggiraphjs-0.3.0/ggiraphjs.min.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/ggiraphjs-0.3.0/ggiraphjs.min.css
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/d3-lasso-0.0.5/lasso.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/d3-lasso-0.0.5/d3-lasso.min.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cwkv3zwm57pon/000007.metadata
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cwkv3zwm57pon/000006.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/culgmt0mtu2gv/00000b.json
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/culgmt0mtu2gv/00000a.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/culgmt0mtu2gv/00000b.html
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/culgmt0mtu2gv/00000b.metadata
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cv9qu5k3m8iz4/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cwkv3zwm57pon/000007.html
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cwkv3zwm57pon/000007.json
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cxvsdd1zlcczm/000004.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/lib/d3-5.7.0/d3.min.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/czvg8woq7lm90/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/coaqnyji7ybsh/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cif09ex4kj7jq/00000e.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c5rtn9y6vzmug/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c9k6k6dqx1zf1/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/chunks.json
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/clyletoadmey2/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cd5d745sfen4s/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/ccgd8opm9udn3/00000e.png
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/cc2oa5zq8wf12/000004.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c7d9l2tgithjc/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c5toinjlq8alz/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/ccgd8opm9udn3/00000d.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/ccgd8opm9udn3/00000e.metadata
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/ccgd8opm9udn3/00000e.snapshot
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c4260av0bzyuk/000006.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c2pig1huev5w5/000009.snapshot
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c2pig1huev5w5/000009.metadata
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c2pig1huev5w5/000009.png
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c2pig1huev5w5/000008.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/12F7B6FF4787CC26/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cy4t2d8qbg4aj/000002.csv
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/s/c1wojcws156nr/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cs68wuzfstbnq/000003.snapshot
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cs68wuzfstbnq/000003.png
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cs68wuzfstbnq/000003.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cs68wuzfstbnq/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cbodvsd0yhd9o/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c3ej73cvmd662/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/cw65aiz3yg81y/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/ctc98j1c8gvak/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/cq6dlv08c4kec/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/cfa6yjf7obbhh/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/cch9da7pv1ywk/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF4787CC26/c8ct451e1ttjs/000002.csv
.Rproj.user/12F7B6FF/sources/s-4787CC26/lock_file
.Rproj.user/12F7B6FF/sources/s-4787CC26/DE500240-contents
.Rproj.user/12F7B6FF/sources/s-4787CC26/E614F35D-contents
.Rproj.user/12F7B6FF/sources/s-4787CC26/DE500240
.Rproj.user/12F7B6FF/sources/s-4787CC26/C70C5D91-contents
.Rproj.user/12F7B6FF/sources/s-4787CC26/C70C5D91
.Rproj.user/12F7B6FF/sources/s-4787CC26/4A70501F-contents
.Rproj.user/12F7B6FF/sources/s-4787CC26/4A70501F
.Rproj.user/12F7B6FF/sources/prop/INDEX
.Rproj.user/12F7B6FF/sources/prop/DF3547B4
.Rproj.user/12F7B6FF/sources/prop/68943874
.Rproj.user/12F7B6FF/sources/prop/56E432A6
.Rproj.user/12F7B6FF/pcs/files-pane.pper
.Rproj.user/12F7B6FF/pcs/source-pane.pper
.Rproj.user/12F7B6FF/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF214C20A3/chunks.json
.Rproj.user/12F7B6FF/sources/per/t/DE500240-contents
.Rproj.user/12F7B6FF/rmd-outputs
.Rproj.user/12F7B6FF/pcs/workbench-pane.pper
.Rproj.user/12F7B6FF/saved_source_markers
.Rproj.user/12F7B6FF/sources/per/t/4A70501F-contents
.Rproj.user/12F7B6FF/sources/per/t/4A70501F
.Rproj.user/12F7B6FF/sources/per/t/DE500240
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF75EF8905/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c8ct451e1ttjs/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cfa6yjf7obbhh/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cch9da7pv1ywk/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cokuyo9t5bvqw/000017.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cokuyo9t5bvqw/000017.snapshot
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cokuyo9t5bvqw/temp/000017.png
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cq6dlv08c4kec/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctc98j1c8gvak/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cokuyo9t5bvqw/000017.png
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cj8uqr36of2o6/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000011.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000012.html
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000012.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000012.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/cw65aiz3yg81y/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/crosstalk-1.1.0.1/css/crosstalk.css
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/crosstalk-1.1.0.1/js/crosstalk.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/crosstalk-1.1.0.1/js/crosstalk.js.map
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/crosstalk-1.1.0.1/js/crosstalk.min.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/htmlwidgets-1.5.1/htmlwidgets.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/crosstalk-1.1.0.1/js/crosstalk.min.js.map
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/jquery-1.11.3/jquery-AUTHORS.txt
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/jquery-1.11.3/jquery.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/jquery-1.11.3/jquery.min.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/jquery-1.11.3/jquery.min.map
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/plotly-binding-4.9.2.1/plotly.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/plotly-htmlwidgets-css-1.52.2/plotly-htmlwidgets.css
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/plotly-main-1.52.2/plotly-latest.min.js
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/12F7B6FF1B8F90E9/chunks.json
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/12F7B6FF214C20A3/chunks.json
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/12F7B6FF75EF8905/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/12F7B6FF88E32E6F/chunks.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c3qhto2d3g7op/000004.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c3qhto2d3g7op/000005.html
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c3qhto2d3g7op/000005.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/c3qhto2d3g7op/000005.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/chor25bl3jtp3/000004.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/chor25bl3jtp3/000005.html
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/chor25bl3jtp3/000005.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/chor25bl3jtp3/000005.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/co3d1ujzqe8wh/000002.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/co3d1ujzqe8wh/000003.html
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/co3d1ujzqe8wh/000003.json
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/co3d1ujzqe8wh/000003.metadata
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000013.csv
.Rproj.user/shared/notebooks/13408F61-mapamov/1/s/ctwm2k77yga7o/000014.error
.Rproj.user/shared/notebooks/5AAFED78-Municipios/1/12F7B6FF88E32E6F/chunks.json
